name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  find:
    name: Find apps
    runs-on: ubuntu-latest
    outputs:
      addons: ${{ steps.addons.outputs.addons_list }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6.0.2

      - name: Find app directories
        id: addons
        uses: home-assistant/actions/helpers/find-addons@master

  lint:
    name: Lint app ${{ matrix.path }}
    runs-on: ubuntu-latest
    needs: find
    strategy:
      matrix:
        path: ${{ fromJson(needs.find.outputs.addons) }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6.0.2

      - name: Run Home Assistant App Lint
        uses: frenck/action-addon-linter@v2.21.0
        with:
          path: "./${{ matrix.path }}"
